* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.title {
  display: flex;
  justify-self: flex-start;
  position: fixed;
  top: 40px;
  left: 50px;
  color: #030303; 
  font-weight: 400px;
  font-style: normal;
  font-size: 35px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
  

nav {
  display: flex;
  justify-content: flex-end; 
  position: fixed; 
  top: 20px;
  right: 50px; 
  width: 100%;
  padding: 1rem;
  color: black;
  font-weight: 400px;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 50px; 
  cursor: pointer;
}

.body-content img{
  width: calc(100% - 110px); 
  height: 500px; 
  margin-top: 100px;
  margin-left: 50px;
  object-fit: cover;
  object-position: center -205px; 

}
.featured-products {
  margin-top: 85px;
  text-align: center;
  font-weight: 400px;
  font-style: normal;
  font-size: 35px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;

}

.jerseys-images {
  margin-top: 60px;
  display: flex; 
  gap: 120px;
  margin-left: 130px;
}

.jersey-item {
  text-align: center;
  width: auto; 
}

.jersey-item img {
  width: 110%;
  height: auto;
  border-radius: 12px; 
}

.jersey-item p {
  margin-top: 10px; 
  font-size: 17px;
  color: #030303; 
  font-style:normal;
  font-family: 'Open Sans', sans-serif;
}

.button-view {
  margin-top: 30px;
  text-align: center;
}

.button-view .button {
  padding: 30px 80px !important;
  border-radius: 35px;
  background-color: black !important;
  color: white !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
}

.about-section {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding: 50px;
  gap: 20px; 
  box-sizing: border-box; 
}

.imagem img {
  width: 47%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 20px;
  margin-top: -180px;
  margin-left: 50px;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  position: relative;
  right: -860px;
  top: 270px;
  color: #030303; 
  font-weight: 400px;
  font-style: normal;
  font-size: 60px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
}

.about-section p {
  line-height: 1.6;
  width: 50%; 
  padding: 20px; 
  position: relative;
  top: 410px;
  left: 100px;
  color: #030303; 
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;

}

.site-name {
  margin-top: 150px;
  margin-left: 50px;
  color: #030303; 
  font-style: normal;
  font-size: 45px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.site-name p {
  margin-top: 45px;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  margin-left: 4px;
}
.location p {
  margin-top: 20px;
  text-align: right;
  margin-right: 370px;
  color: #030303; 
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.location h2 {
  margin-right: 460px;
  margin-top: -20px;
  text-align: right;
  font-size: 30px;
  color: #030303; 
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.contact p {
  margin-right: 100px;
  margin-top: 18px;
  text-align: right;
  color: #030303; 
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.contact h2 {
  margin-right: 190px;
  margin-top: -79px;
  text-align: right;
  font-size: 30px;
  color: #030303; 
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.shop-page-jersey-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.00005px; 
  margin-top: 50px;
  justify-content: center;
}

.shop-page-jersey-item {
  width: 18%; 
  margin-bottom: 100px;
  text-align: center;
}


.shop-page-jersey-item img {
  width: 70%;
  height: auto;
  border-radius: 8px; 
}
.shop-page-jersey-item p {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  background-color: #f8f8f8; 
  border-radius: 20px; 
  padding: 10px; 
  margin-top: 1px; 
  display: inline-block;
  line-height: 1.5;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  width: 70%;
}
.shop-page-jersey-item button {
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.shop-page-title {
  text-align: center;
  margin-top: 115px;
  color: black;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}

.cart-overview {
  margin-left: 50px;
  margin-top: 50px;
}
.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 16px;
}