* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.title {
  display: flex;
  justify-self: flex-start;
  position: fixed;
  top: 40px;
  left: 50px;
  color: black;
  font-weight: 400px;
  font-style: normal;
  font-size: 35px;
  line-height: 22px;
  font-family: Clarkson, Proxima Nova, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  

}
  

nav {
  display: flex;
  justify-content: flex-end; 
  position: fixed; 
  top: 20px;
  right: 50px; 
  width: 100%;
  padding: 1rem;
  color: black;
  font-weight: 400px;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  font-family: Clarkson, Proxima Nova, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 50px; 
}

h1 {
  display: flex;
}

.body-content {
  color: black;
}